In [130]:
import pandas as pd
import numpy as np
import sqlite3

In [124]:
connection = sqlite3.connect("collegeswimming.db")
SWIMS = pd.read_sql_query("SELECT * FROM Swims", connection)
SWIMMERS = pd.read_sql_query("SELECT * FROM Swimmers", connection).rename({"name":"athlete_name"},axis="columns")
TEAMS = pd.read_sql_query("SELECT * FROM Teams", connection).rename({"name":"team_name"},axis="columns")

print(SWIMS.head())
print(SWIMMERS)
print(TEAMS)
connection.close()

   swimmer  team   time    scaled  event        date  taper    snapshot
0   325120   184  22.13  0.378791  M150Y  1506729600      2  2391941165
1   325120   184  22.27  0.587316  M150Y  1507852800      2  2391941165
2   325120   184  21.92  0.066004  M150Y  1507939200      2  2391941165
3   325120   184  20.98 -1.334093  M150Y  1510876800      1  2391941165
4   325120   184  21.02 -1.274515  M150Y  1510876800      1  2391941165
         athlete_name      id
0   Kevin Adams-mardi  325120
1          Kyle Bloom  237222
2    Mitchell Buccalo  230121
3      Chadd Cummings  230514
4        Chris Devlin  342577
5   Vincent Filippini  234442
6         Kevin Flynn  403260
7       Thomas Gannon  243971
8        Mitch Gavars  344995
9          Tarik Lott  183734
10     Jacob Lubinski  333716
11  Charles Mcfarland  270134
12     Matthew Mcgoey  408918
13         Nico Pagni  330640
14       Michael Park  273671
15       Matt Rakovec  305409
16        John Rogers  314394
17    Nate Romanowski  323512
18         Jimmy Rush  243792
19       Samuel Rutan  216443
20      Peter Sigward  518612
21     Garrett Sommer  489159
             team_name   id
0  Bucknell University  184

In [125]:
full_dataset = SWIMS.join(SWIMMERS.set_index('id'), on='swimmer').join(TEAMS.set_index('id'), on='team')

In [126]:
grouped_dataset = full_dataset.groupby(["swimmer", "event"] )

In [127]:
eventlist = list(full_dataset["event"].unique())
print(a)

['M150Y', 'M1100Y']

In [151]:
#team_data = np.array([])
team_data = []
for swimmer in SWIMMERS["id"]:
    for event in eventlist:
        try: 
            individual_event_data = grouped_dataset.get_group((swimmer, event))
            athlete_name = individual_event_data["athlete_name"]
            team = individual_event_data["team_name"]
            minimum_time = individual_event_data["time"].min()
            average_time = individual_event_data["time"].mean()
            #team_data = np.append(team_data,[athlete_name, event, team, minimum_time, average_time])
            team_data.append(team_data,[athlete_name, event, team, minimum_time, average_time])
        except KeyError as e:
            print("No data on swimmer {} for event {}".format(swimmer, event))
            #team_data = np.append(team_data,[athlete_name, event, team, None, None])
            team_data.append(team_data,[athlete_name, event, team, None, None])

team_data = pd.DataFrame({"athlete_name":team_data[:,0],"event":team_data[:,1],"team":team_data[:,2],"minimum_time":team_data[:,3],"average_time":team_data[:,4]})

No data on swimmer 230121 for event M150Y
No data on swimmer 230121 for event M1100Y
No data on swimmer 230514 for event M150Y
No data on swimmer 342577 for event M150Y
No data on swimmer 403260 for event M150Y
No data on swimmer 243971 for event M1100Y
No data on swimmer 183734 for event M150Y
No data on swimmer 183734 for event M1100Y
No data on swimmer 408918 for event M150Y
No data on swimmer 408918 for event M1100Y
No data on swimmer 330640 for event M150Y
No data on swimmer 273671 for event M150Y
No data on swimmer 273671 for event M1100Y
No data on swimmer 305409 for event M150Y
No data on swimmer 305409 for event M1100Y
No data on swimmer 216443 for event M150Y
No data on swimmer 518612 for event M150Y
No data on swimmer 518612 for event M1100Y
No data on swimmer 489159 for event M150Y
No data on swimmer 489159 for event M1100Y

IndexError: too many indices for array

In [150]:
a=SWIMMERS.set_index('id')
a.index

NameError: name 'index' is not defined

RangeIndex(start=0, stop=22, step=1)